*{
  box-sizing: border-box;
}
body{
  background-color: #222;
  color: white;  
  font-size: 18px;
  padding: 20px;
}
.wrapper{
  max-width: 1140px;
  margin: 0 auto;
}
.Logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Logo-img{
  max-width: 200px;  
}
.Logo-score{
  font-size: 1.2em;
  font-weight: normal;
}
.Menu{
  margin: 0 auto;
  margin-bottom: 25px;
}
.Menu ul{
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  margin-top: 0px;
  padding:0;
  overflow: hidden;
}
.Menu ul li{
  background-color: #008966;
  text-align: center;
  width: 100%;
  list-style: none;
  padding: 7px;
}

.Menu ul li.active{
  background-color: #00bc8c;
}
.Bird{
  background-color: #303030;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 25px;
  position: relative;
}
.Bird-header{
  display: flex;
}
.Bird-content{
  width: 100%;
}
.Bird-img{
  border-radius: 10px;
  margin-right: 40px;
  width: 200px;
  height: 155px;
}
.Bird-content h3{
  margin: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #555;
}
.Bird-content p{
  margin: 6px auto 0px auto;
  padding-bottom: 6px;
  border-bottom: 1px solid #555;
}
.Bird-content audio{
  outline: none;
  margin-top: 15px;
  width: 100%;
}
.Content{
  display: flex;
}
.Content .BirdList{
  flex: 1;
  margin-right: 35px;
}
.Content .Bird{
  min-height: 338px;
  height: 100%;
  margin: 0;
  border: 1px solid #555;
  padding: 0;
}
.Content .Bird .Bird-box{
  padding: 20px;
}
.Bird .noVisible{
  position: absolute;
  top: 10px;
  left: 15px;
  display: flex;
  flex-direction: column;
}
.Bird .noVisible span{
  margin-bottom: 5px;
}
.BirdList ul{  
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  border: 1px solid #555;
  border-radius: 5px;
  overflow: hidden;
  height: 100%;
}
.BirdList ul li{
  list-style: none;    
  height: 100%;
  padding-left: 25px;
  background-color: #303030;
  display: flex;
  align-items: center;
}
.BirdList ul li{
  border-bottom: 1px solid #555;
}
.BirdList ul li:last-child{
  border: 0;
}
.BirdList ul li span{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: #444;
  transition: .4s;
}
.BirdList ul li span.true{
  background-color: #00bc8c;
}
.BirdList ul li span.false{
  background-color: #d62c1a;
}
.BirdList ul li:hover{
  cursor: pointer;
  background-color: #555;
}
.Content .Bird{
  flex: 1;
}
.FooterButton{
  width: 100%;
  margin: 20px 0px;
  border: 1px solid #555;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 7px;
  color: white;
  background-color: #303030;
  font-size: 16px;
  transition: .5s;
}
.FooterButton.greenBut{
  background-color: #00bc8c;
}
.FooterButton.greenBut:hover{
  background-color: #2be2b4;
}
.FooterButton:hover{
  border: 1px solid rgb(104, 104, 104);
}
.FooterButton:active{
  border: 1px solid rgb(153, 151, 151);
  transition: .3s;
}
.Win{
  width:100%;
  text-align: center;
  background-color: #303030;
  padding: 50px 10px;
}
.Win h1{
  font-size: 50px;
  margin: 0px 0 10px;
}
.Win p{
  font-size: 20px;
  margin-bottom: 70px;
}
.Win button{
  width: 90%;
  border: 1px solid #555;
  border-radius: 5px;
  outline: none;  
  padding: 15px;
  color: white;
  background-color: #00bc8c;
  font-size: 16px;
  transition: .5s;
}
.Win button:hover{
  background-color: #2bdbaf;
}
.Win button:active{
  background-color: #4ee7c1;
  transition: 0s
}
.hidden{
  visibility: hidden;
}